import init.acclaim.usb.rc

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug
	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	# for backwards compatibility
	symlink /mnt/sdcard /sdcard
	
	mkdir /bootdata
	
	# power management
    # Enable off mode by default
    write /sys/kernel/debug/pm_debug/enable_off_mode 1

    # Enable Smart Reflex in debugfs
    write /sys/kernel/debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_mpu/autocomp 1
	
on fs
    # mount partitions
    
    #mount ext4 /dev/block/platform/mmci-omap-hs.1/by-name/system /system wait ro errors=panic
    #mount ext4 /dev/block/platform/mmci-omap-hs.1/by-name/userdata /data wait noatime nosuid nodev errors=panic
    #mount ext4 /dev/block/platform/mmci-omap-hs.1/by-name/cache /cache wait noatime nosuid nodev errors=panic
    mount vfat /dev/block/platform/mmci-omap-hs.1/by-name/bootdata /bootdata wait noatime nodiratime uid=1000,gid=1000,fmask=117,dmask=007

    mount ext4 /dev/block/mmcblk1p5 /system wait ro errors=panic
    mount ext4 /dev/block/mmcblk1p6 /cache wait noatime nosuid nodev errors=panic
    mount ext4 /dev/block/mmcblk1p7 /data wait noatime nosuid nodev errors=panic

on post_fs
    # SGX driver
    chmod 0666 /dev/pvrsrvkm

    chown media media /dev/syslink-proc4430
    chown media media /dev/syslink-procmgr
    chown media media /dev/syslink_ipc
    chown media media /dev/omap-rproc0
    chown media media /dev/omap-rproc1
    chown media media /dev/omap-rproc2
    chown media media /dev/iovmm-omap0
    chown media media /dev/iovmm-omap1
    chown media media /dev/omap-devh0
    chown media media /dev/omap-devh1
    chown media media /dev/omap-devh2

    chmod 660 /dev/syslink-proc4430
    chmod 660 /dev/syslink-procmgr
    chmod 660 /dev/syslink_ipc
    chmod 440 /dev/omap-rproc0
    chmod 440 /dev/omap-rproc1
    chmod 440 /dev/omap-rproc2
    chmod 440 /dev/iovmm-omap0
    chmod 440 /dev/iovmm-omap1
    chmod 440 /dev/omap-devh0
    chmod 440 /dev/omap-devh1
    chmod 440 /dev/omap-devh2
    
    chown system system /sys/devices/virtual/input/input0/mode
    chmod 0770 /sys/devices/virtual/input/input0/mode
    chown system system /sys/devices/virtual/input/input0/delay
    chmod 0770 /sys/devices/virtual/input/input0/delay
    
    # change permissions for Overlay
    chown system system /dev/video1
    chown system system /dev/video2
    chown system system /dev/video3
    
    # change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    
    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled
    
    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings
    chown system system /sys/devices/platform/omapdss/display2/code
    
     # change permissions for Tiler driver
    chown media media /dev/tiler
    chmod 0666 /dev/tiler
    chmod 0666 /dev/dmm

# Initialize the SGX driver
service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot