import init.acclaim.usb.rc

on init
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

    # for acclaim
    mkdir /rom 0777 root root	
    mkdir /bootdata 0777 root root
	
    # power management
    # Enable off mode by default
    write /sys/kernel/debug/pm_debug/enable_off_mode 1

    # Enable Smart Reflex in debugfs
    write /sys/kernel/debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_mpu/autocomp 1

    # setup global environment
    export PHONE_STORAGE /mnt/emmc
    export DSP_PATH /system/lib/dsp
    export DEFAULT_BASEIMAGE /system/lib/dsp/baseimage.dof

    # create mountpoints
    mkdir /mnt/emmc 0000 system system
    mkdir /mnt/usbdisk 0000 system system
    symlink /mnt/emmc /emmc
    symlink /mnt/usbdisk /usbdisk
    symlink /system/vendor /vendor

on fs
    # mount partitions
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/system /system wait ro errors=panic
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/cache /cache wait noatime nosuid nodev errors=panic
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata /data wait noatime nosuid nodev errors=panic
    mount vfat /dev/block/platform/omap/omap_hsmmc.1/by-name/rom /rom sync noatime nodiratime uid=1000,gid=1000,fmask=117,dmask=007
    mount vfat /dev/block/platform/omap/omap_hsmmc.1/by-name/bootdata /bootdata wait noatime nodiratime uid=1000,gid=1000,fmask=117,dmask=007

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media
    setprop vold.post_fs_data_done 1
    mkdir /data/misc/wifi/sockets 0770 wifi wifi

on boot
    # BRB: Temp adb hack
    # setprop service.adb.root 1

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # wireless
    mkdir /system/etc/wifi 0770 wifi wifi
    chmod 0770 /system/etc/wifi
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    chmod 0660 /dev/rfkill
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chown wifi wifi /sys/class/rfkill/rfkill1/type
    chown wifi wifi /sys/class/rfkill/rfkill1/state

    insmod /system/lib/modules/wl12xx.ko

    # Load Modules
    insmod /system/lib/modules/pvrsrvkm_sgx540_120.ko
    insmod /system/lib/modules/omaplfb_sgx540_120.ko

    # SGX driver
    chmod 0666 /dev/pvrsrvkm

    chown media media /dev/syslink-proc4430
    chown media media /dev/syslink-procmgr
    chown media media /dev/syslink_ipc
    chown media media /dev/omap-rproc0
    chown media media /dev/omap-rproc1
    chown media media /dev/omap-rproc2
    chown media media /dev/iovmm-omap0
    chown media media /dev/iovmm-omap1
    chown media media /dev/omap-devh0
    chown media media /dev/omap-devh1
    chown media media /dev/omap-devh2

    chmod 660 /dev/syslink-proc4430
    chmod 660 /dev/syslink-procmgr
    chmod 660 /dev/syslink_ipc
    chmod 440 /dev/omap-rproc0
    chmod 440 /dev/omap-rproc1
    chmod 440 /dev/omap-rproc2
    chmod 440 /dev/iovmm-omap0
    chmod 440 /dev/iovmm-omap1
    chmod 440 /dev/omap-devh0
    chmod 440 /dev/omap-devh1
    chmod 440 /dev/omap-devh2
    
    chown system system /sys/devices/virtual/input/input0/mode
    chmod 0770 /sys/devices/virtual/input/input0/mode
    chown system system /sys/devices/virtual/input/input0/delay
    chmod 0770 /sys/devices/virtual/input/input0/delay
    
    # change permissions for Overlay
    chown system system /dev/video1
    chown system system /dev/video2
    chown system system /dev/video3
    
    # change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder
    
    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled
    
    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings
    chown system system /sys/devices/platform/omapdss/display2/code

    # change permissions for mtd device
    chmod 0660 /dev/mtd/mtd0
    chown media media /dev/mtd/mtd0
    
    # change permissions for i2c-2 device
    chmod 0660 /dev/i2c-2
    chown media media /dev/i2c-2

    # change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    # change permissions for ION driver
    chmod 0777 /dev/ion

    # change permissions for alsa nodes
    chmod 0777 /dev/snd/controlC0
    chmod 0777 /dev/snd/pcmC0D0p
    chmod 0777 /dev/snd/pcmC0D1c
    chmod 0777 /dev/snd/pcmC0D1p
    chmod 0777 /dev/snd/pcmC0D2c
    chmod 0777 /dev/snd/pcmC0D2p
    chmod 0777 /dev/snd/timer

on property:dev.bootcomplete=1
    start bootcnt

# Initialize the SGX driver
service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot

service bootcnt /system/bin/clear_bootcnt.sh
    class core
    user root
    group root
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -dd
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# Update the battery data heuristics every hour
service logbatterydata /system/bin/log_battery_data.sh
    class core
    user root
    group root

on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions adb
    #write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1