#for DSSCOMP
/dev/dsscomp              0666   system     system
/dev/tiler                0666   system     system
/dev/dmm                  0777   system     system
/dev/ion                  0777   system     system

/dev/rpmsg-omx0           0666   drmrpc    drmrpc
/dev/rpmsg-omx1           0666   drmrpc    drmrpc
/dev/rproc_user           0666   drmrpc    drmrpc
/dev/tf_driver            0666   drmrpc    drmrpc
/dev/tf_ctrl              0666   drmrpc    drmrpc

/dev/pvrsrvkm             0666   system     system
/dev/video0               0666   system     camera
/dev/video1               0666   system     camera
/dev/video2               0666   system     camera

# for Sensor HAL
/dev/accelerometer        0666   system     system

/dev/fwram                0666   system     system

#for GCX (but not needed on 4430)
/dev/gcioctl              0666   system     system
